.icon-img {
    width: 0.7rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    float: right;
    transform-origin: center;
    display: none;
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

:checked~label .icon-img, .accordion-item:hover .icon-img {
    animation: rotate-icon 0.05s;
    transform: rotate(45deg);
}

.accordion:hover .icon-img {
    display: block;
}