*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: medium;
    background-color: #f5f5eb;
    padding: 5%;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

h2 {
    cursor: pointer;
    padding-bottom: 1em;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* @media (max-width: 320px) {
    main {
        width: 100%;
        padding-left: 5vmin;
        padding-right: 5vmin;
    }
} */

.accordion-item {
    border-top: 0.1rem solid rgb(210, 210, 210);
    cursor: pointer;
}

input[type=radio] {
    display: none;
}